html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 
 
}

a {
  color: inherit;
  text-decoration: none;
}

.font-size-resultado {
   font-size: 1.1rem;
}

.font-size-resultado-veja-abaixo {
  font-size: 1.3rem;

  margin-top: 0.5rem;
  color: black;
}

.button-veja-abaixo {
  background-color: #e5ed05;
}

* {
  box-sizing: border-box;
}

.imcSelect {
  background-color: #94f2c3;
}